@import "tailwindcss";

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgb(0, 0, 0);
  background-color: #f7f7f7;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@keyframes wave {
  0% {
    transform: translateX(0) rotate(180deg);
  }
  50% {
    transform: translateX(-25px) rotate(180deg);
  }
  100% {
    transform: translateX(0) rotate(180deg);
  }
}

.animate-wave-slow {
  animation: wave 8s ease-in-out infinite;
}

.animate-wave-medium {
  animation: wave 6s ease-in-out infinite;
}

.animate-wave-fast {
  animation: wave 4s ease-in-out infinite;
}
